.create_col__form{
    padding: 0.8rem;
    background: var(--color-column-background);
    border-radius: var(--col-border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.create_col__form_footer{
    display: flex;
    gap: inherit;
}
