.column {
    width: var(--col-width);
    flex: 0 0 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.column__inner{
    background: var(--color-column-background);
    min-height: 0;
    max-height: 100%;
    border-radius: var(--col-border-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid transparent;

    &.is_dragging{
        opacity: 0.4;
    }

    &.is_task_over{
        border-color: var(--color-primary-hover);
    }

    &.is_column_over{
        opacity: 0.4;

        * {
            visibility: hidden;
        }
    }
}

.column__body{
    overflow: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1.2rem;

    &:empty{
        padding: 0;
        margin: 0;
    }
}

.column__footer{
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
}
