.column{
    background: var(--color-column-background);
    width: 28rem;
    flex: 0 0 auto;
    min-height: 0;
    max-height: calc(100vh - var(--app-header-height) - var(--board-padding) - 1rem);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.column__body{
    overflow: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1.2rem;
    flex: 0 1 50%;
}

.column__header, .column__footer{
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
}
