.checkbox_container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.checkbox_container input {
    display: none;
}

.checkbox {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 0.2rem solid var(--color-input-box-shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color ease-in-out var(--default-transition-duration), border-color ease-in-out var(--default-transition-duration);

    svg {
        color: var(--color-column-background);
        opacity: 0;
        transition: opacity ease-in-out var(--default-transition-duration);
    }
}

.checkbox_container input:checked + .checkbox {
    background-color: var(--color-success);
    border-color: var(--color-success);
}

.checkbox_container input:checked + .checkbox svg {
    opacity: 1;
    visibility: visible;
}
